@import url('https://fonts.googleapis.com/css2?family=MuseoModerno:ital@1&display=swap');

.App {
  width: 100%;
  height: 100%;
  display: flex;
  gap: 20px;
  background-color: white;
}

.navbar {
  background-color: darkslateblue;
  color: white;
  width: 30px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  transition: all 0.2s ease-in-out;
  gap: 50px;
  padding: 10px 0;
}

.navbar.open {
  width: 115px;
}

.navbar-main,
.navbar-bottom {
  text-align: left;
  align-items: flex-start;
  display: flex;
  flex-direction: column;
}

.navbar-bottom {
  margin-top: auto;
}

.navbar button {
  background-color: none;
}

.navbar-item-background {
  border-radius: 0 10px 10px 0;
  width: 0;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.211);
  transition: all 0.3s ease-in-out;
  z-index: 999;
}

.navbar-item-background.hover-active {
  width: 100%;
}

.navbar-item {
  position: relative;
  padding-left: 6px;
  width: 100%;
  display: flex;
  align-items: center;
}

.navbar-item .icon {
  margin-top: 2px;
  width: 25px;
  height: 25px;
  border-radius: 50%;
}

.navbar-item .title {
  opacity: 0;
  transform: translateX(-100px);
  transition: all 0.2s ease-in-out;
  transition: opacity 0.25s ease-in-out;
}

.navbar-item.expanded .title {
  opacity: 1;
  transform: translateX(0);

}

.new-todo-button {}

.logo-container {
  color: red;
  font-family: 'MuseoModerno', cursive;
  display: flex;
  overflow: visible;
}

.navbar-toggle {
  align-self: flex-end;
  margin-right: 8px;
}

.navbar-toggle-button.open {
  transform: rotate(-180deg);
}


.todos-list {
  display: flex;
  flex-direction: column;
}

.new-todo-overlay {
  background-color: rgba(255, 255, 255, 0.598);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: all 0.3s ease-in-out;
  pointer-events: none;
}

.new-todo-overlay.show {
  opacity: 1;
  pointer-events: visible;
}

.new-todo-content {
  background-color: beige;
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 8px;
  transform: translateY(-200%);
  transition: all 0.2s ease-in-out;
  transform: scale(0);
}

.new-todo-overlay.show .new-todo-content {
  /* transform: translateY(0); */
  transform: scale(1);
}

.new-todo-content>* {
  flex: 1;
}

.new-todo-content form {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.new-todo-content form input {
  width: 100%;
  background-color: rgba(255, 255, 255, 0.223);
  border: none;
  padding: 5px;
}

.new-todo-content form input.date {
  max-width: 120px;
}

.new-todo-content form textarea.details {
  font-family: inherit;
  resize: none;
  border: none;
  overflow: hidden;
  border: none;
  padding: 5px
}

.new-todo-header {
  padding: 2px 5px;
  width: 100%;
  background-color: rgb(171, 235, 184);
}

.new-todo-body {
  width: 100%;
}


.priority-button {
  background-color: white;
}

.priority-button.low.active {
  background-color: rgb(130, 217, 130);
}

.priority-button.medium.active {
  background-color: rgb(255, 250, 152);
}

.priority-button.high.active {
  background-color: rgb(247, 95, 95);
}