:root {
  overflow-y: scroll;
  overflow-x: scroll;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
}

h1,
h2,
h3 {
  margin: 0;
}

button {
  border: none;
  border-radius: 5px;
  font-size: 11px;
  padding: 3px 5px;
}